@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

 
 * {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
 }
 
 html, body, #body {
     display: grid;
     place-items: center;
     height: 100vh;


     background: url('./backgroundLinkPage.webp') no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

/*Content shown when page not loaded*/

#msg {
    background-color: black;
}




/*Format Loris Polezn*/
#lorisPolenz {
    color: whitesmoke;
    font-size: 1.2rem;
    border-bottom: 2px whitesmoke solid;
    margin-bottom: 20px;
}


 
 /*Format container for buttons*/
 #parentButtons {
    display: flex;
    flex-direction: column;
 }

 
 /*Format button for user*/

 button {
     height: 60px;
     width: 600px;

     margin: 10px;

     border: 2px solid whitesmoke;
     background: none;


     font-size: 2rem;
     color: whitesmoke;

 }

 button:hover {
     background: whitesmoke;
     color: black;
     font-weight: 600; 
 }


/*Style for footer*/
footer {
    color: whitesmoke;
    align-self: flex-end;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

footer h3 {
    font-size: 2rem;
}

footer h2 {
    font-size: 3rem;
}

/*Style for the container of the Buttons*/
.containerButton {
    width: 620px;
}


 /*settings for devices smaller than 700px*/
 @media screen and (max-width: 700px) {
     button {
        height: 40px;
        width: 400px;

        font-size: 1.5rem;
     }


     /*Format Loris Polezn*/
    #lorisPolenz {
        color: whitesmoke;
        font-size: 1rem;
        border-bottom: 2px whitesmoke solid;
        margin-bottom: 20px;
    }

    .containerButton {
        width: 420px;
    }

    footer h3 {
        font-size: 1.5rem;
    }
 }


 @media screen and (max-width: 450px) {
    button {
       height: 30px;
       width: 300px;

       font-size: 1rem;
    }

    /*Format Loris Polezn*/
    #lorisPolenz {
        color: whitesmoke;
        font-size: 0.8rem;
        border-bottom: 2px whitesmoke solid;
        margin-bottom: 20px;
    }

    .containerButton {
        width: 320px;
    }

    footer h3 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 360px) {
    button {
        height: 25px;
        width: 250px;
 
        font-size: 1rem;
     }
 
     /*Format Loris Polezn*/
     #lorisPolenz {
         color: whitesmoke;
         font-size: 0.8rem;
         border-bottom: 2px whitesmoke solid;
         margin-bottom: 20px;
     }
 
     .containerButton {
         width: 270px;
     }

     footer h3 {
         font-size: 1rem;
     }
}